DEVICE_IP=
TOKEN=
SCHEDULER_INTERVAL=
AQI_LEVEL_DISABLE=
AQI_LEVEL_1=
FAN_LEVEL_1=
AQI_LEVEL_2=
FAN_LEVEL_2=
AQI_LEVEL_3=
FAN_LEVEL_3=
AQI_LEVEL_4=
FAN_LEVEL_4=
AQI_LEVEL_5=
FAN_LEVEL_5=
AQI_LEVEL_6=
FAN_LEVEL_6=
FAN_LEVEL_NIGHT=
REFRESH_AIR_INTERVAL=
REFRESH_AIR_DURATION=
REFRESH_AIR_FAN_LEVEL_DAY=
REFRESH_AIR_FAN_LEVEL_NIGHT=
REFRESH_AIR_ON_NIGHT=
MODEL=
BEGIN_DAY_HOUR=
BEGIN_NIGHT_HOUR=